.form-contact{
    display: flex;
    justify-content: space-between;
}
.formulaire { 
    display: flex;
    justify-content: space-between;  
}
.form {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 30px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 5px 3px;
    background-color: var(--navbar);
    padding: 30px;
}
.red{
  color: firebrick;
}
.input, textarea {
  margin: 1em 0 1em 0;
  width: 460px;
  position: relative;
}
  
.input input, textarea {
  font-size: 100%;
  padding: 0.7em;
  outline: none;
  color: #e8e8e8;
  border: none;
  border-bottom: 2px solid var(--body);
  background: transparent;
  border-radius: none;
  width: 100%;
  resize: none;
}
  
.input label {
  font-size: 100%;
  position: absolute;
  left: 0;
  color: #e8e8e8;
  padding: 0.7em;
  margin-left: 0.1em;
  pointer-events: none;
  transition: all 0.5s ease;
}
  
.input :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.input textarea:focus ~ label,
.input textarea:valid ~ label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}
  
.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(37, 37, 211);
}
/* Si l'utilisateur à une sugestion de mettre automatiquement ses coordonnée */

input:-webkit-autofill {
  transition: color 5000s ease-in-out 0s, background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:focus {
  background-color: initial !important;
  color: #e8e8e8 !important;
}
/* --------------------------------------------------------------------------- */
  .form .button-contact {
    color: #e8e8e8;
    font-size: 25px;
    align-self: flex-start;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 40px 0;
    background: linear-gradient(90deg, var(--color-font) 35%, var(--body));
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  
  .form .button-contact:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .form .button-contact:hover:before {
    opacity: 0.2;
  }
  
  .form .button-contact:hover {
    transform: scale(1.1) !important;
    color: #ffffff !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
  }
.accept-form{
    color: var(--paragraphe);
    width: 460px;
}
.politique{
  text-decoration: none;
  color: var(--color-flash);
  font-weight: 300;
  transition: all 0.2s ease;
}
.politique:hover{
  color: var(--color-font);
  transition: all 0.2s ease;
}

.form-check-input {
  background-color: var(--color-font) !important;
  border-color: var(--color-font) !important;
}
/* MAP */
#map-container {
  position: relative;
  height: 400px;
  width: auto;
}

#map {
  height: 100%;
  width: 100%;
  /* Désactive les événements de la souris pour cet élément */
  pointer-events: none;
}