.banner {
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(https://res.cloudinary.com/dilp6xqmb/image/upload/v1701768624/Banner_home.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}
.banner h1{
    margin-bottom: -100px;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-align: center;
    font-weight: 900;
    font-size: 65px;
}
.banner h2{
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    color: var(--color-flash);
}
.big-title{
    font-size: 123px;
    font-family: 'Kumbh Sans', sans-serif;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    line-height: 0.7;
}
.prestation{
    margin-top: 120px;
}
.button-banner{
    text-align: center;
    margin-top: 170px;
}
.button-banner a{
    color: var(--paragraphe);
    font-size: 30px;
    font-weight: 500;
    padding: 15px;
    text-decoration: none;
    background-color: var(--color-font);
    transition: all 0.3s ease;
}
.btn-banner:hover{
    background-color: var(--body) !important;
    color: #ffffff !important;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
/* ANNIMATION  DYNAMIC-WORD */
.word-animation {
    display: inline-block;
}
.slide-in {
    animation: slideIn 0.75s forwards;
}
.slide-out {
    animation: slideOut 0.75s forwards;
}
@keyframes slideIn {
    from {
        transform: translateX(20%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}
/* ANNIMATION DYNAMIC-PRESTATION */
.slide-prestation-in {
    animation: slidePrestationIn 0.75s forwards;
}
.slide-prestation-out {
    animation: slidePrestationOut 0.75s forwards;
}
@keyframes slidePrestationIn {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slidePrestationOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}
/* RESPONSIVE */
@media screen and (max-width: 1400px) {
    .big-title{
        font-size: 100px;
    }
    .button-banner a{
        font-size: 26px;
    }
}
@media screen and (max-width: 992px) {
    .big-title{
        font-size: 65px;
    }
    .banner h1{
        font-size: 50px;
    }
    .button-banner{
        margin-top: 190px;
    }
    .button-banner a{
        font-size: 20px;
        padding: 12px;
    }
}
@media screen and (max-width: 768px) {
    .big-title{
        font-size: 48px;
    }
    .banner h1{
        font-size: 40px;
    }
    .banner h2{
        font-size: 25px;
    }
    .prestation{
        margin-top: 110px;   
    }
    .button-banner{
        margin-top: 140px;
    }
    .button-banner a{
        font-size: 20px;
        padding: 10px;
    }
}
@media screen and (max-width: 600px) {
    .big-title{
        font-size: 40px;
    }
    .banner h1{
        font-size: 40px;
    }
    .banner h2{
        font-size: 25px;
    }
}

/* Taille Iphone 13 mini */

@media screen and (max-width:320px) {
    .big-title{
        font-size: 28px;
    }
    .banner h1{
        font-size: 28px;
    }
    .banner h2{
        font-size: 20px;
    }
}