.banner-service{
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(https://res.cloudinary.com/dilp6xqmb/image/upload/v1701770585/banner-service.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}
.banner-service h1{
    color: #ffffff;
    text-align: center;
    text-shadow: 3px 5px 3px rgba(0,0,0,0.5);
    font-weight: 900;
    font-size: 65px;
}