.transition-top {
    height: 60px;
    width: 60px;
    background: var(--navbar);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 23px;
    bottom: 85px;
    border: 1px solid #EEE3CB;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  .scroll-top {
      height: 60px;
      width: 60px;
      background: var(--navbar);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: 23px;
      bottom: 85px;
      border: 1px solid var(--paragraphe);
      opacity: 1;
      transition: opacity 2.5s ease, transform 0.3s ease-in-out;
    }
    
    #scrollButton {
      font-size: 29px;
    }
    .scroll-top:hover {
      transform: scale(1.1);
      transition: all 0.3s ease;
    }
    
    
  /* @media(max-width: 560px) {
    .scroll-laptop {
      display: none;
    }
  } */